<app-page-top [isHomePage]="false" imgPageTop="assets/page-top-bg.png" [header]="'Bài đăng'"></app-page-top>
<div class="container">
  <app-loading *ngIf="loading && !user"></app-loading>
  <div *ngIf="!loading && user" class="">
    <div class="row" style="display: block !important;">
      <h1>{{post?.title || ''}}</h1>
      <ng-container [ngTemplateOutlet]="meta"></ng-container>
      <span class="">
                #{{post?.tag || '#'}}
            </span>
      <div class="row">
        <div *ngIf="isArray(post?.content)" class="col-12">
          <owl-carousel [options]="{
                        items: 1,
                        dots: true,
                        nav: false,
                        autoplay: true
                        }" [carouselClasses]="['clients-slider']">
            <div *ngFor="let item of post?.content[1]" class="img-title">
              <img [src]="item" alt="" style="width: 300px; height: 300px;">
            </div>
          </owl-carousel>
        </div>
        <p class="text-medium col-12" [innerHTML]="isArray(post?.content) ? post?.content[0] : post?.content || ''">
        </p>
        <a [href]="post?.link" class="text-medium" style="white-space: pre-line">
          {{post?.link}}
        </a>
      </div>
      <hr>
    </div>


    <h3 *ngIf="!isLogin && post?.comments" class="text-secondary text-center">
      <a [routerLink]="['/login']">Đăng nhập</a> để xem bình luận
    </h3>
    <div *ngIf="isLogin && post?.comments" class="">
      <app-comment [post]="post" (commentSubmit)="refresh($event)" [user]="user"></app-comment>
      <hr>
      <div class="mt-4">
        <div *ngFor="let cmt of pagingCmt.slice().reverse()">
          <app-comment [user]="user" [post]="post" [isPost]="false" [cmt]="cmt" (commentRemove)="refresh($event)">
          </app-comment>
        </div>
      </div>
      <app-pagination [length]="post?.comments.length" [limit]="limit"
                      [curPage]="curPage" (changePage)="changeCurPage($event)"></app-pagination>
    </div>
  </div>
</div>
<ng-template #meta>
  <div class="article-meta">
    <a href="/angular-forum/profile/answebdev">
      <!-- <img src="https://static.productionready.io/images/smiley-cyrus.jpg"> -->
      <img [src]="post?.user?.avatar_path.encoded">
    </a>
    <div class="info">
      <a class="author" href="/angular-forum/profile/answebdev">
        {{post?.user?.name}}
      </a>
      <span class="date">{{post?.created_at |date: 'short' : '+7' : 'vi'}}</span>
    </div>
    <ng-container [ngTemplateOutlet]="favorite"></ng-container>
  </div>
</ng-template>
<ng-template #favorite>
  <div class="pull-xs-right">
    <button class="btn btn-sm btn-outline-success mr-2" (click)="handleLike()">
      <i class="fas fa-heart"></i>
      {{post?.like || 0}}
    </button>
    <div ngbDropdown class="d-inline-block" [hidden]="user.id !== post?.user_id">
      <button class="btn btn-sm btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="openModal(updatedModal)">Edit</button>
        <button ngbDropdownItem (click)="openModal(deleteModal)">Delete</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Xóa bài</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Bạn có muốn xóa bài này?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Đóng</button>
    <button type="button" class="btn btn-outline-dark" (click)="deletePost()">Xóa</button>
  </div>
</ng-template>

<ng-template #updatedModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Sửa bài</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="postForm">
      <div class="form-group">
        <label for="title">
          <h5>Tiêu đề</h5>
        </label>
        <input formControlName="title" type="text" class="form-control" id="title" placeholder="Nhập tiêu đề"
               required>
      </div>
      <div class="form-group">
        <label for="tag">
          <h5>Tag</h5>
        </label>
        <input formControlName="tag" type="text" class="form-control" id="tag" placeholder="Nhập tag">
      </div>
      <div class="form-group">
        <label for="content">
          <h5>Nội dung</h5>
        </label>
<!--        <textarea formControlName="content" type="text" class="form-control" id="content"-->
<!--                  placeholder="Nhập nội dung"></textarea>-->
        <ckeditor [editor]="Editor" [config]="config" [data]="f.content.value" formControlName="content" (ready)="onReady($event)" #editor id="content">
        </ckeditor>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="updatedPost()">Submit</button>
  </div>
</ng-template>
