<app-page-top [isHomePage]="false" imgPageTop="assets/page-top-bg.png"></app-page-top>
<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
        <form class="form-inline my-2 justify-content-center mb-2 col-12" [formGroup]="searchForm"
            (ngSubmit)="search(searchForm)">
            <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm ..." aria-label="Search"
                style="width: 30%;" formControlName="searchTerm">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="1.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="2.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="3.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="4.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="5.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="6.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="7.jpg"></app-featured-card>
        </div>
    </div>
    <!-- <app-pagination></app-pagination> -->
</div>