<app-page-top [isHomePage]="false" imgPageTop="assets/page-top-bg.png" [header]="'Danh sách bài đăng'"></app-page-top>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-12">
            <ngb-tabset [destroyOnHide]="false" (tabChange)="tabChange($event)" [activeId]="activeTab">
                <ngb-tab id="my">
                    <ng-template ngbTabTitle><span [ngStyle]="{color: this.activeTab == 'my'? '#30caa0' : 'black'}">Your
                            posts</span></ng-template>
                    <ng-template ngbTabContent>
                        <div *ngIf="!curUser">
                            Cần <a [routerLink]="['/login']">Đăng nhập</a> để xem bài chia sẻ
                        </div>
                        <div *ngIf="curUser">
                            <app-loading *ngIf="loading"></app-loading>
                            <div *ngIf="!loading">
                                <div *ngIf="(myPosts.length > 0)">
                                    <ng-container *ngTemplateOutlet="searchCmp;context:{tab: activeTab}">
                                    </ng-container>
                                    <div class="" *ngFor="let post of myPosts">
                                        <app-article [post]="post" [user]="curUser"></app-article>
                                    </div>
                                    <app-pagination [length]="totalMyPost" [limit]="25"
                                        (changePage)="changeCurPage($event)" [curPage]="curPage"></app-pagination>
                                </div>
                                <div *ngIf="(myPosts.length === 0)">
                                    <h2 class="col-12 text-center mt-5 mb-5">Không có bất kì tin nào</h2>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="global">
                    <ng-template ngbTabTitle><span
                            [ngStyle]="{color: this.activeTab == 'global'? '#30caa0' : 'black'}">Global posts</span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <app-loading *ngIf="loading"></app-loading>
                        <div *ngIf="!loading">
                            <div *ngIf="(posts.length === 0)">
                                <h2 class="col-12 text-center mt-5 mb-5">Không có bất kì tin nào</h2>
                            </div>
                            <div *ngIf="(posts.length > 0)">
                                <div *ngIf="!curUser">
                                    Cần <a [routerLink]="['/login']">Đăng nhập</a> để xem chi tiết bài chia sẻ
                                </div>
                                <div [ngStyle]="{'pointer-events': this.curUser ? 'all':'none'}">
    
                                    <ng-container [ngTemplateOutlet]="searchCmp"
                                        [ngTemplateOutletContext]="{tab: activeTab}">
                                    </ng-container>
                                    <div class="" *ngFor="let post of posts">
                                        <app-article [post]="post"></app-article>
                                    </div>
                                    <app-pagination [length]="totalGlobalPost" [limit]="25"
                                        (changePage)="changeCurPage($event)" [curPage]="curPage"></app-pagination>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
            <h4>Danh sách tag</h4>
            <ng-container [ngTemplateOutlet]="tag"></ng-container>
        </div>
    </div>

</div>
<ng-template #tag>
    <div class="tag-list">
        <a *ngFor="let item of tags" class="tag-default tag-pill" (click)="getPostsByTag(item)">{{item}}</a>
    </div>
</ng-template>

<ng-template #searchCmp let-tab="tab">
    <div class="row justify-content-center">
        <form [formGroup]="searchForm" (ngSubmit)="search(searchForm,tab)"
            class="form-inline my-2 justify-content-center mb-2 col-12 row">
            <input class="form-control mr-sm-2" type="search"
                [placeholder]="'Tìm kiếm ' + tab.toUpperCase() + ' post..'" aria-label="Search" style="width: 30%;"
                formControlName="searchTerm">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm
                kiếm</button>
            <!-- <div class="col-md-8 col-sm-12">
                <input class="form-control mr-sm-2" type="search"
                    [placeholder]="'Tìm kiếm ' + tab.toUpperCase() + ' post..'" aria-label="Search" style="width: 30%;"
                    formControlName="searchTerm">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm
                    kiếm</button>
            </div>
            <div class="col-md-4 col-sm-12">
                Add
            </div> -->
        </form>
    </div>
</ng-template>

<!-- <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Đăng bài</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="postForm">
            <div class="form-group">
                <label for="title">
                    <h5>Tiêu đề</h5>
                </label>
                <input formControlName="title" type="text" class="form-control" id="title" placeholder="Nhập tiêu đề"
                    required>
            </div>
            <div class="form-group">
                <label for="tag">
                    <h5>Tag</h5>
                </label>
                <input formControlName="tag" type="text" class="form-control" id="tag" placeholder="Nhập tag">
            </div>
            <div class="form-group">
                <label for="content">
                    <h5>Nội dung</h5>
                </label>
                <input formControlName="content" type="text" class="form-control" id="content"
                    placeholder="Nhập nội dung">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="createPost()">Submit</button>
    </div>
</ng-template> -->