<app-page-top [isHomePage]="false" imgPageTop="assets/page-top-bg.png" [header]="'Danh sách bài đăng'"></app-page-top>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-12">
            <ngb-tabset [destroyOnHide]="false" (tabChange)="tabChange($event)">
                <ngb-tab id="my">
                    <ng-template ngbTabTitle><span [ngStyle]="{color: this.activeTab == 'my'? '#30caa0' : 'black'}">Your article</span></ng-template>
                    <ng-template ngbTabContent>
                        <div class="">My</div>
                        <app-article></app-article>
                        <app-article></app-article>
                        <app-article></app-article>
                        <app-article></app-article>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="global">
                    <ng-template ngbTabTitle><span [ngStyle]="{color: this.activeTab == 'global'? '#30caa0' : 'black'}">Global article</span></ng-template>
                    <ng-template ngbTabContent>
                        <div class="">Global</div>
                        <app-article></app-article>
                        <app-article></app-article>
                        <app-article></app-article>
                        <app-article></app-article>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
            <h4>Danh sách tag</h4>
            <ng-container [ngTemplateOutlet]="tag"></ng-container>
        </div>
    </div>

</div>
<ng-template #tag>
    <div class="tag-list">
        <a class="tag-default tag-pill">SIDA</a>
        <a class="tag-default tag-pill">Dragon</a>
        <a class="tag-default tag-pill">Butt</a>
        <a class="tag-default tag-pill">Tag1</a>
        <a class="tag-default tag-pill">Tag2</a>
        <a class="tag-default tag-pill">Tag2</a>
        <a class="tag-default tag-pill">Tag2</a>
        <a class="tag-default tag-pill">Tag2</a>
        <a class="tag-default tag-pill">Tag2</a>
    </div>
</ng-template>