<div class="row">
    <app-loading *ngIf="!post.comments"></app-loading>
    <div *ngIf="post.comments" class="col-xs-12 col-md-8 offset-2 col-lg-8 mb-2">
        <div class="card w-100">
            <ckeditor *ngIf="isPost" [editor]="Editor" [config]="config" [(ngModel)]="contentValue" (ready)="onReady($event)"
                (change)="handleChange($event)" #editor id="editor">
            </ckeditor>
            <div *ngIf="!isPost" readonly [innerHTML]="contentValue" style="font-size: 1rem; padding: 15px 0px 0px 15px">
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <a href="/angular-forum/profile/answebdev" style="display: flex">
                    <img [src]="!this.isPost ? userNotPost?.avatar_path.encoded: user?.avatar_path.encoded">
                    <div class="text-secondary pt-1 pl-1">{{cmt?.created_at | formatDate}}</div>
                </a>

                <button *ngIf="this.isPost" type="button" class="btn btn-primary" (click)="comment()">Đăng</button>
                <button *ngIf="!this.isPost" type="button" style="border: none; background: transparent;"
                    [hidden]="cmt.user_id !== user.id" (click)="deleteCmt()">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>
