<div class="article-preview">
    <ng-container [ngTemplateOutlet]="meta"></ng-container>
    <a class="preview-link" [routerLink]="['/post/1']">
        <h1>This is a title</h1>
        <p>This is a description</p><span>Read more...</span>
        <ng-container [ngTemplateOutlet]="taglist"></ng-container>
    </a>
</div>

<ng-template #meta>
    <div class="article-meta">
        <a href="/angular-forum/profile/answebdev">
            <img src="https://static.productionready.io/images/smiley-cyrus.jpg">
        </a>
        <div class="info">
            <a class="author" href="/angular-forum/profile/answebdev">
                answebdev
            </a>
            <span class="date">June 24, 2020 </span>
        </div>
        <ng-container [ngTemplateOutlet]="favorite"></ng-container>
    </div>
</ng-template>

<ng-template #favorite>
    <div class="pull-xs-right">
        <button class="btn btn-sm btn-outline-success">
            <i class="fas fa-heart"></i>
            0
        </button>
    </div>
</ng-template>

<ng-template #taglist>
    <ul class="tag-list">
        <li class="tag-default tag-pill tag-outline"> awlefkjwaklef </li>
        <li class="tag-default tag-pill tag-outline"> alwekajfklaw </li>
        <!---->
    </ul>
</ng-template>