<div class="article-preview">
    <ng-container [ngTemplateOutlet]="meta"></ng-container>
    <a class="preview-link" [routerLink]="['/post/'+post.id]">
        <h1>{{post?.title || 'This is a title'}}</h1>
        <p [innerHTML]="(post?.content[0] | slice:0:150) + '...'"></p><span>Read more...</span>
        <ng-container [ngTemplateOutlet]="taglist"></ng-container>
    </a>
</div>

<ng-template #meta>
    <div class="article-meta">
        <a href="/angular-forum/profile/answebdev">
            <img [src]="post?.user ? post?.user.avatar_path.encoded : user.avatar_path.encoded">
        </a>
        <div class="info">
            <a class="author" href="/angular-forum/profile/answebdev">
                {{post?.user ? post.user.name: user.name}}
            </a>
            <span class="date">{{post?.created_at |date: 'short'}} </span>
        </div>
        <ng-container [ngTemplateOutlet]="favorite"></ng-container>
    </div>
</ng-template>

<ng-template #favorite>
    <div class="pull-xs-right">
        <button class="btn btn-sm btn-outline-success">
            <i class="fas fa-heart"></i>
            {{post?.like || 0}}
        </button>
    </div>
</ng-template>

<ng-template #taglist>
    <ul class="tag-list">
        <li class="tag-default tag-pill tag-outline"> {{post?.tag}} </li>
        <!---->
    </ul>
</ng-template>
